<div class="main_container">
<%= form_for @listing do |f| %>
  <fieldset class="row">
    <%= f.label :name %> 
    <%= f.text_field :name %>
  </fieldset>
  
  <fieldset class="row">
    <%= f.label :description %>
    <%= f.text_area :description, size: '100x10' %>
  </fieldset>
  <%= f.submit %>
<% end %>
</div>