<fieldset>
  <label>Listing: </label>
  <p><%= @listing.name %></p>
</fieldset>

<fieldset>
  <label>Description: </label>
  <p><%= @listing.description %></p>
</fieldset>

<fieldset>
  <label>Listed By: </label>
  <p><%= @listing.user.name %></p>
</fieldset>

<%= image_tag @listing.avatar.url %>
<%= image_tag @listing.avatar.url(:medium) %>
<%= image_tag @listing.avatar.url(:thumb) %>
