<!-- div class="unit col1of3 left-nav">
<h2>How it works?</h2>

<h2>Menu</h2>
  <ul>
    <li><h3><a href="/listings">My Listings</a></h3></li>
  </ul>
</div>

<div class="lastUnit spacing">
  <% @listings.each do |listing| %>
    <div class="row each-listing">
      <div class="imag-index">
        <img src=<%= listing.avatar.url(:thumb) %> width="100px" height="100px"/>
      </div>
      <div class="listing">
        <h3><%= listing.name %></h3>
        <p><%= listing.description %></p>
        <input type="hidden" name="user_id" value="<%= listing.user_id %>"/>
        <button id="<%= listing.id %>" interest_id="<%=get_interest_id(listing.id)%>"><%= current_user_interested?(listing.id) ? 'Requested' : 'I want it' %></button>
      </div>
    </div>
  <% end %>
</div>
 -->