<section id="welcome">
  <% @listings.each do |listing| %>
    <article class="row each-listing">
      <div class="imag-index">
        <img src=<%= listing.avatar.url(:thumb) %> width="100px" height="100px"/>
      </div>
      <div class="listing">
        <h1><%= listing.name %></h1>
        <p><%= listing.description %></p>
        <input type="hidden" name="user_id" value="<%= listing.user_id %>"/>
        <button id="<%= listing.id %>" interest_id="<%=get_interest_id(listing.id)%>"><%= current_user_interested?(listing.id) ? 'Requested' : 'I want it' %></button>
      </div>
    </article>
  <% end %>
</section>
