<!DOCTYPE html>
<html>
<head>
  <title>FriendsMarketPlace</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Market Place</h1>
    <nav>
      <ul>
        <li>
          <% if current_user %>
            <input id="current_active_user" type="hidden" name="current_active_user_id" value="<%= current_user.id %>"/>
            <img src=<%= current_user.image %>/>
          <% end %>
        </li>
        <li>
          <% if current_user %>
            <%= link_to 'SignOut', signout_path, id: "sign_out" %>
          <% else %>
            <%= link_to 'Login', '/auth/facebook' %>
          <% end %>
        </li>
        <li><a href="/listings/new">List</a></li>
        <li><a href="/listings">My Listings</a></li>
        <li><a href="/howitworks">How it works</a></li>
      </ul>
    </nav>
  </header>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
